$light-yellow: #fefaef;

$white: #ffffff;
$black: #000000;
$navy: #25599b;
$purple: #a18cd1;

$peach: #ff9a9e;
$light-peach: #fad0c4;

$lavender: #a18cd1;
$light-lavender: #fbc2eb;

$mint: #84fab0;
$aqua: #8fd3f4;

$background-color: $light-yellow;

$primary-color: $navy;
$secondary-color: $purple;

$basic-gradient: 58.76deg, $purple 3.49%, $navy 77.16%;
$gradient1: 72.96deg, $lavender 4.28%, $light-lavender 94.58%;
$gradient2: 45deg, $peach 0%, $light-peach 100%;
$gradient3: 120deg, $mint 0%, $aqua 100%;
