$light-yellow: #fefaef;

$white: #ffffff;
$black: #000000;
$navy: #25599b;
$purple: #a18cd1;
$light-gray: #f8f9f4;
$pink: #ff6671;

$peach: #ff9a9e;
$light-peach: #fad0c4;

$lavender: #a18cd1;
$light-lavender: #fbc2eb;

$mint: #84fab0;
$aqua: #8fd3f4;

$background-color: $light-yellow;

$primary-color: $navy;
$secondary-color: $purple;

$basic-gradient: 226.25deg, $navy 12.35%, $purple 80.1%;
$gradient1: to top, $lavender 0%, $light-lavender 100%;
$gradient2: 45deg, $peach 0%, $light-peach 100%;
$gradient3: 120deg, $mint 0%, $aqua 100%;
