@use '../base/' as *;

// input style
.input {
  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(60px);

    label {
      padding-left: rem(14px);
      margin-bottom: rem(16px);
      font-size: rem(20px);
    }

    input {
      border: 0;
      background: $light-gray;
      padding: rem(10px) rem(14px);
      border-radius: rem(10px);
      font-size: rem(20px);
      &::placeholder {
        font-size: rem(20px);
      }
    }
  }
}

.button {
  &--submit {
    display: block;
    width: 100%;
    padding: rem(16px) 0;
    background: $navy;
    font-size: rem(20px);
    font-weight: 700;
    color: $white;
    text-align: center;
    border: 0;
    border-radius: rem(10px);

    &:disabled {
      cursor: not-allowed;
      background: #ddd;
      color: #777;
    }
  }
}
