@use '../base/' as *;
html {
  @include mobile {
    font-size: 3.129vw;
  }
}

.container {
  position: relative;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 25px 150px 25px;
  background-color: $background-color;

  @include mobile {
    padding: rem(30px) rem(25px) rem(134px) rem(25px);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: rem(320px);
    border-radius: 0 0 rem(60px) rem(60px);
    @include gradient($basic-gradient);

    @include mobile {
      border-radius: 0 0 rem(30px) rem(30px);
      max-height: rem(240px);
    }
  }
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  max-width: 768px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 400ms;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 1;

    .modal {
      transform: translateY(0);
    }
  }
}

.modal {
  transform: translateY(110vh);
  transition: transform 400ms;
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  background-color: $white;
  height: 80vh;
  margin-top: 20vh;
  border-radius: rem(60px) rem(60px) 0px 0px;
  padding: rem(100px) rem(35px) rem(30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button--submit {
    margin-top: 24px;
  }
}

.modal__form {
  overflow: scroll;
  padding: 0 rem(10px);

  .input-wrap {
    margin-bottom: rem(32px);
    font-size: rem(23px);

    & > label {
      font-weight: bold;
    }

    &__guide {
      font-size: rem(20px);
      padding-left: rem(14px);
    }
  }

  .input-money {
    display: flex;
    align-items: center;
    margin-bottom: rem(16px);

    input {
      width: 80%;
      margin-right: rem(14px);
    }
  }
}

.button-close-modal {
  position: absolute;
  top: rem(40px);
  right: rem(40px);
  border: 0;
  color: $white;
  background-color: gray;
  border-radius: 50%;
  width: rem(30px);
  height: rem(30px);
  font-size: rem(24px);
  padding: 0;

  span {
    line-height: rem(30px);
  }
}

// commonMenu --------------------------------------------------------
.commonMenu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: white;
  margin: 0 auto;
  max-width: 768px;
  width: 98%;
  padding: rem(20px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: rem(30px) rem(30px) 0 0;
  box-shadow: 0px 0px 2px 0px rgb($black, 0.5);
  z-index: 9;

  &__listwrap {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
  }
  &__list {
    width: 18%;

    &.active {
      color: $purple;
      font-weight: bold;
    }

    button {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      border: none;
      background: transparent;

      &.add-trip {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__item {
    width: 20%;
    text-align: center;
  }

  &__add {
    position: absolute;
    top: 0;
    left: 50%;
    width: rem(100px);
    height: rem(100px);
    transform: translate(-50%, -70%);
    border-radius: 50%;
    background: $navy url('../assets/images/addTrip.png') no-repeat center center;
    background-size: rem(23px);

    @include mobile {
      width: rem(70px);
      height: rem(70px);
    }
  }

  &__add--text {
    position: relative;
    transform: translateY(rem(37px));
    @include desktop {
      transform: translateY(rem(40px));
    }
  }

  &__icon {
    display: block;
    position: relative;
    font-size: rem(28px);
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: rem(10px);
    @include desktop {
      padding-bottom: rem(12px);
    }
  }

  &__text {
    font-size: rem(12px);
    @include desktop {
      font-size: rem(24px);
    }
  }

  // 로그아웃
  &__setwrap {
    position: fixed;
    right: rem(10px);
    bottom: rem(100px);
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: rem(20px);
    transition: all 0.2s;

    @include desktop {
      bottom: rem(120px);
    }

    &.opacityChange {
      opacity: 1;
    }
  }
  &__logout {
    display: block;
    padding: rem(12px);
    font-size: rem(14px);

    @include desktop {
      font-size: rem(24px);
    }

    &--icon {
      color: red;
    }
  }
}
