@use '../base/' as *;

.trips-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;

  b {
    font-weight: 600;
  }

  &__title {
    font-size: rem(22px);
    color: $white;

    b {
      font-size: rem(32px);
    }
  }

  .trips-section {
    padding: 10px;

    &__title {
      font-size: rem(22px);
      font-weight: 600;
      margin: 32px 0;
    }
  }

  .trips-item {
    @include gradient($gradient1);
    min-height: 250px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

    overflow: hidden;
    padding-top: 55px;

    &__bg {
      width: 100%;
      height: 100%;
      background-color: rgba($color: $white, $alpha: 0.3);
      padding: 55px 0 60px 50px;
    }

    &__title {
      font-size: rem(22px);
      font-weight: 600;
      margin-bottom: rem(15px);
    }

    &__content {
      font-size: rem(18px);

      div {
        margin-bottom: rem(15px);
      }
    }
  }

  .color-theme-white{
    color: $white;
  }
}
